body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 {
  color: darkgreen;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.solid {
  border-style: solid;
  border-radius: 0rem;
  border-color: lightgray;
}
.navbar-nav {
  margin-left: auto;
  font-weight: 400;
}
.navbar-brand {
  font-weight: bold;
}
#btns {
  border-radius: 1rem;
  padding: 5px 15px 5px 15px;
  background-color: #16c79a;
  color: white;
}
#mbtns {
  border-radius: 1rem;
  padding: 20px;
  background-color: #16c79a;
  color: white;
}
#bg-title {
  background-color: #16c79a;
  color: white;
  padding: 3px;
  font-weight: 600;
  border-radius: 2rem;
}
#d-content {
  margin-left: 150px;
  margin-right: 150px;
}
#d-title {
  font-weight: bold;
  font-size: 16px;
}
.jumbotron {
  background-image: url("./pictures/jumbotron.PNG");
  background-size: cover;
  height: 450px;
}
.form-group .form-control {
  width: 80%;
  border-radius: 1rem;
}
img.card-img-top {
  height: 180px;
}

.card-img-overlay {
  margin-top: 105px;
  color: white;
  font-weight: 900;
  font-size: 18px;
}
h2 {
  color: #16c79a;
}

.btn {
  border-radius: 1rem;
  padding: 5px 15px 5px 15px;
  background-color: #16c79a;
  color: white;
}
a.makeStyles-link-1:hover {
  color: white;
  text-decoration: underline;
}

#primary-search-account-menu
  > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  margin-top: 40px;
}
#primary-search-account-menu
  > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
  > ul {
  padding: 0;
}
#profileCard {
  width: 5rem;
  height: 3rem;
  margin-bottom: 1rem;
}
hr.solid {
  border-top: 3px solid #16c79a;
}
h6.MuiTypography-h6 {
  font-size: 1rem;
}
h6.MuiTypography-h6 a:hover {
  text-decoration: none;
}
